$background:#02475E;
$primary-color:#687980;
$secondary-color:#F3BDA1;
$complementary-color:#FEFECC;

.container_form{

    padding:40px;
    background-color:$background;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container_form h1 {
    color:$complementary-color;
    text-transform: uppercase;
    font-weight: 500;

}

.container_form input[type="text"] , 
.container_form input[type="email"] , 
.container_form input[type="number"]{
    border:0;
    background: none;
    display:block;
    margin:20px auto;
    text-align: center;
    border:2px solid $primary-color;
    padding:14px 10px;
    width: 400px;
    outline: none;
    color:#ffffff;
    border-radius: 24px;
    transition: 0.25s;

}

.container_form input[type="text"]:focus , 
.container_form input[type="email"]:focus , 
.container_form input[type="number"]:focus{
    width: 600px;
    border-color: $secondary-color;
}

/*background-color: #34495e;*/

.container_form button[type="submit"]{
    border:0;
    background: none;
    display:block;
    margin:20px auto;
    text-align: center;
    border:2px solid $secondary-color;;
    padding:14px 10px;
    width: 200px;
    outline: none;
    color:#ffffff;
    border-radius: 24px;
    transition: 0.25s;
    cursor:pointer;
}

.container_form button[type="submit"]:hover{
    background:$secondary-color ;
}

.alert_error{
    color:$complementary-color;
}


@media screen and (max-width:920px){

    .container_form input[type="text"] , 
.container_form input[type="email"] , 
.container_form input[type="number"]{
    width: 200px;
}

.container_form input[type="text"]:focus , 
.container_form input[type="email"]:focus , 
.container_form input[type="number"]:focus{
    width: 300px;
  
}
.container_form button[type="submit"]{
   
    width: 150px;
  
}


}



